@import "bootstrap/scss/bootstrap.scss";

body {
    margin: 0;
    padding: 0;
    background: #360033;
    background: -webkit-linear-gradient(to right, #0b8793, #360033);
    background: linear-gradient(to right, #0b8793, #360033);
}

